@font-face {
    font-family: 'jsMath-cmti10';
    src: url('fonts/jsMath-cmti10.woff2') format('woff2'),
        url('fonts/jsMath-cmti10.woff') format('woff'),
        url('fonts/jsMath-cmti10.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

.header {
    border: 1px solid #f4f4f4;
    background: white;
    /* display: flex;
    justify-content: center;
    /* 水平方向に中央揃え */
    /* align-items: left; */
    /* 垂直方向に中央揃え */
    height: 53px;
    /* headerの高さを指定 */
    padding-left: 40px;


}

.header__inner {
    margin: 0 auto;
    max-width: 1512px;
}

.header-utilities {
    display: flex;
    text-align: left;
}

.header__logo {
    font-family: 'jsMath-cmti10', serif;
    color: #F5C800;
    
    font-style: italic;
    font-size: 30px;
    font-weight: 500;
}
